@font-face {
    /* Font similar to the original ones. French Gothic. Look at the "g", close letters, spigoli, grossezza
    verticalità e ordine */
    font-family: sans;
    src: url('font/geronimo/OpenSans-ExtraBold.ttf');

}

@font-face {
    font-family: 'LifeLTStd-Roman';
    src: url('font/geronimo/LifeLTStd-Roman.otf')
}

@font-face {
    font-family: 'salterio';
    src: url('font/medieval/salterio/Salterio\ Shadow.ttf');
}

@font-face {
    font-family: 'genzsch';
    src: url('font/medieval/genzsch/GenzschInitials.ttf');
}

#image-gaia-2{
    background-image: url('img/geronimo/geronimo-stilton-libri.png');
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1; /* Assicurati che sia sopra tutti gli altri elementi */
    
    /* Adjusted margin values with pixel units */
    margin-left: 730px; /* Adjust based on your layout */
    margin-top: -300px; /* Adjust based on your layout */
    
    /* Optional: Set width and height for the div */
    width: 500px; /* Adjust based on your image size */
    height: 300px; /* Adjust based on your image size */
} 

@media (max-width: 800px) {
    .content {
    column-count: 1;
    margin-left: 7%;
    margin-right: 7%;
    background:     
        url('img/geronimo/geronimo-stilton-libri.png') left repeat-y,;
    background-size: 3%,3%;
}
}


#gif {
    text-align: center;
    padding-top: 1em;
}

body {
    background-image: url('img/geronimo/pattern.png');
    background-size: auto; /* Adjust as needed */
    background-repeat: repeat; /* Prevent image from repeating */
}

#subtitle {
    color: rgb(40, 36, 36);
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover;
    text-align: center;
    padding: 0.5em;
    font-family: sans;
    text-transform: uppercase;
    border-radius: 15px;
}


.navbar {
    background-color: transparent;
    font-family: '1492';
    margin-top: -0.5cm;
    font-family: 'LifeLTStd-Roman';
    text-transform: capitalize;
}


.dropdown-menu {
    background-image: url('img/medieval/back.png');
}

/* insertion */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none; /* Hide the submenu by default */
}

.dropdown-submenu:hover .dropdown-menu {
    display: block; /* Display the submenu on hover */
}

/* insertion */


#main {
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    border-radius: 5px;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 40%;
    position: relative;
    z-index: 1;
}

#externalContentColumn {
    background-image: url('img/geronimo/paper.png');
    background-size: cover;
    height: 40vw;
    overflow-y: auto; /* or overflow-y: scroll; */
}

#map { height: 28vw; }

#footer {
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover;
}

#externalContentColumn {
    padding: 5%;
}

p {
    font-family: 'LifeLTStd-Roman';
    font-size: 22px;
    
    text-align: justify;
    overflow: hidden; /* Hide any text that overflows */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    padding: 2%;
}

.title-1 {
    font-family: sans;
    color: rgb(210, 35, 0);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-2 {
    font-family: 'LifeLTStd-Roman';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.918);
}

.title-3 {
    font-family: salterio;
}


#space {
    height: 17rem; 
}

.image-container {
    position: relative;
    width: 50%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -3%;
}


#Vinyl {
    position: static;
    text-align: center;
    width: 100%; /* Set the initial width to 100% */
    height: auto; /* Set the initial height to 100% */
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: -1;
}


#stick {
    position: absolute;
    width: 100%; /* Set the initial width to 100% */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: 1;
    transform-origin: 0;
    transform: rotate(0deg);
    margin-left: -23vw;
}


.button1 {
    position: absolute;
    z-index: 3;
}

#move {
    transition: 300ms;
    
}


.music-container {
    background-color: #F1FAEE;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgb(87, 31, 1);
    width: 50%;
    height: 25%;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75%;
    }

.stitle {
    font-size: 20px;
    font-family: Salterio;
    text-align: center;
    }

.navigation {
    background-color: #F1FAEE;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    }

.action-btn {
    background-color: #F1FAEE;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
    }

#decor1 {
    background-image: url('img/geronimo/logo.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 15vw;
    margin-left: 50%;
    margin-top: -12vw;
}

#decor2 {
    background-image: url('img/medieval/+3.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 19vw;
    margin-left: 35%;
   
}

#decor3 {
    background-image: url('img/medieval/12 2.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 19vw;
    margin-left: 35%;
}

.content img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


