@font-face {
    font-family: 'sans';
    src: url('font/geronimo/OpenSans-ExtraBold.ttf');

}

@font-face {
    font-family: 'LifeLTStd-Roman';
    src: url('font/geronimo/LifeLTStd-Roman.otf')
}

@font-face {
    font-family: 'Animated';
    src: url('font/geronimo/Animated.ttf')
}

@font-face {
    font-family: 'BShadow';
    src: url('font/geronimo/Black\ Shadow.ttf')
}

@font-face {
    font-family: 'FrenchFries';
    src: url('font/geronimo/French_Fries.ttf')
}

@font-face {
    font-family: 'Music';
    src: url('font/geronimo/random/Musicografi.ttf')
}

@font-face {
    font-family: 'Industry';
    src: url('font/geronimo/random/National\ Industry.ttf')
}

@font-face {
    font-family: 'Learning';
    src: url('font/geronimo/random/KidLearningHowToWrite-Regular.ttf')
}

@font-face {
    font-family: 'Musician';
    src: url('font/geronimo/random/Musician\ Crush\ DEMO.ttf')
}

@font-face {
    font-family: 'Songs';
    src: url('font/geronimo/random/Songbird.otf')
}

@font-face {
    font-family: 'Data';
    src: url('font/geronimo/random/Data\ Transfer.ttf')
}

@font-face {
    font-family: 'Genre';
    src: url('font/geronimo/random/FlowerFont-Regular.ttf')
}

@font-face {
    font-family: 'Funeral';
    src: url('font/geronimo/random/Funny\ Death.otf')
}

@font-face {
    font-family: 'Popular';
    src: url('font/geronimo/random/Stars_PersonalUseOnly.ttf')
}

@font-face {
    font-family: 'School';
    src: url('font/geronimo/random/FunSchool.ttf')
}

@font-face {
    font-family: 'Education';
    src: url('font/geronimo/random/Education.ttf')
}

@font-face {
    font-family: 'Fashion';
    src: url('font/geronimo/random/Fashion.ttf')
}

@font-face {
    font-family: 'Song';
    src: url('font/geronimo/random/Right\ Song\ DEMO.ttf')
}

@font-face {
    font-family: 'Sub';
    src: url('font/geronimo/random/MMarker\ PRC\ Bold.ttf')
}

#image-gaia-2{
    background-image: url('img/geronimo/geronimo-stilton-libri.png');
    position: absolute;
    background-repeat: no-repeat;
    z-index: 1; /* Assicurati che sia sopra tutti gli altri elementi */
    
    /* Adjusted margin values with pixel units */
    margin-left: 58vw; /* Adjust based on your layout */
    margin-top: -19vw; /* Adjust based on your layout */
    
    /* Optional: Set width and height for the div */
    width: 500px; /* Adjust based on your image size */
    height: 300px; /* Adjust based on your image size */

    /* Media query for smaller devices */
    @media (max-width: 768px) {
        width: 100%; /* Set width to 100% for smaller devices */
        height: auto; /* Maintain the aspect ratio */
        
    }
} 

@media (max-width: 800px) {
    .content {
    column-count: 1;
    margin-left: 7%;
    margin-right: 7%;
    background:     
        url('img/geronimo/geronimo-stilton-libri.png') left repeat-y,;
    background-size: 3%,3%;
}
}


#gif {
    text-align: center;
    padding-top: 1em;
}

body {
    cursor: url('img/geronimo/penoa.png'), auto;
    background-image: url('img/geronimo/pattern.png');
    background-size: auto; /* Adjust as needed */
    background-repeat: repeat; /* Prevent image from repeating */
}

#subtitle {
    color: rgb(40, 36, 36);
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover;
    text-align: center;
    padding: 0.5em;
    font-family: sans;
    text-transform: uppercase;
    border-radius: 15px;
}


.navbar {
    background-color: transparent;
    margin-top: -0.5cm;
    font-family: 'Animated';
    font-size: 23px;
    text-transform: capitalize;
}


.dropdown-menu {
    background-image: url('img/geronimo/cheese.jpg');
    font-size: 20px;
    color: rgb(0, 250, 179) !important;
}

/* insertion */

.dropdown-submenu {
    position: relative;
    color: rgb(125, 77, 0) !important;
}

.dropdown-submenu .dropdown-menu {
    font-size: 20px;
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none; /* Hide the submenu by default */
}

.dropdown-submenu:hover .dropdown-menu {
    display: block; /* Display the submenu on hover */
    font-size: 20px;
    color: rgb(125, 77, 0) !important;
}

/* insertion */


#main {
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    border-radius: 5px;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 40%;
    position: relative;
    z-index: 1;
}

#externalContentColumn {
    background-image: url('img/geronimo/paper.png');
    background-size: cover;
    height: 85vh;
    overflow-y: auto; /* or overflow-y: scroll; */
    padding: 5%;
}

.highlight {
    background-color: #00d0ff;
}

#map-box { 
    height: 490px;
 }



p {
    font-family: 'LifeLTStd-Roman';
    font-size: 22px;
    line-height: 2.0;
    text-align: left;
    overflow: hidden; /* Hide any text that overflows */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    padding: 5%;
    text-indent: 25px;
}

.title {
    font-family: 'sans';
    color: rgb(210, 35, 0);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-family: 'Sub';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.918);
    text-align: center;
}

.title-1 {
    font-family: 'sans';
    color: rgb(210, 35, 0);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-2 {
    font-family: 'LifeLTStd-Roman';
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.918);
    text-align: center;
}

.title-3 {
    font-family: 'Sub';
    text-transform: capitalize;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.918);
    text-align: center;
}


#space {
    height: 23vw; 
}


#bottone{
    font-family: 'Animated';
    font-size: 1.3em;
}

/* personalizzazione bottoni metadatati*/
.nav-item {
    cursor: url('img/geronimo/penoa.png'), auto !important;
    font-family: 'Animated' !important;
    font-size: 20px;
    color: rgb(185, 0, 0) !important;
}

.nav-link {
    cursor: url('img/geronimo/penoa.png'), auto;
    color: rgb(185, 0, 0) !important;
}

.nav-link:hover {
    cursor: url('img/geronimo/penoa.png'), auto !important;
    color:  rgb(0, 142, 5) !important;
  }

.tab-content {
    cursor: url('img/geronimo/penoa.png'), auto !important;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: justify;
    width: 100%;
    max-height: 70vh;
}

.tab-pane li a{
    font-family: 'Animated';
    font-size: 22px;
    cursor: url('img/geronimo/penoa.png'), auto !important;
    color:  rgb(0, 65, 196) !important;
}

.highlight {
    background-color: rgb(83, 252, 240); /* o qualsiasi altra formattazione visiva desiderata */
}

  
/* personalizzazione bottoni metadatati*/

#metadata {
    cursor: url('img/geronimo/penoa.png'), auto !important;
    font-family: 'Animated';
    font-size: 22px;
    color: rgb(0, 65, 196) !important;
    padding: 5%;
}

#metadata p{
    cursor: url('img/geronimo/penoa.png'), auto !important;
    font-family: 'Sub';
    font-size: 1em;
    color: rgb(0, 65, 196) !important;
    
}


.image-container {
    position: relative;
    width: 50%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -3%;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

figcaption {
    font-family: 'LifeLTStd-Roman';
    font-size: 14px;
    text-align: center;
}


.content ul {
    font-family: 'LifeLTStd-Roman';
    font-size: 20px;
}

.content ol {
    font-family: 'LifeLTStd-Roman';
    font-size: 20px;
}


/* sistemare tabelle*/

.table-responsive {
    max-height: 40vw; /* Adjust the maximum height for the table container */
    overflow-y: auto; /* Add vertical scrollbar if the content exceeds the height */
    padding: 5%;
    margin-right: 3%;
}

.table {
    max-width: 100%; /* Set the maximum width for the table */
    width: 100%; /* Ensure the table takes up the full width of its container */
}

.table th,
.table td {
    background-color: rgba(211, 130, 240, 0) !important;
    font-family: 'LifeLTStd-Roman';
}

/* Apply similar styling as <p> */
.table td,
.table th {
    font-size: 14px;
    text-align: justify;
    white-space: nowrap; /* Prevent line breaks */
   
}

/* Styling for the scrollbars */
.table-responsive::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */ 
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #0d00ff; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

.table-responsive::-webkit-scrollbar-track-piece:end {
    margin-right: 50px; 
}
  
.table-responsive::-webkit-scrollbar-track-piece:start {
    margin-left: 50px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #ffd500; /* Color of the scrollbar track */
}

caption {
    font-family: 'LifeLTStd-Roman';
    font-size: 14px;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .table-responsive {
        max-height: none; /* Reset max-height on smaller screens */
    }

    .table {
        max-width: none; /* Reset max-width on smaller screens */
        padding-left: 0;
        padding-right: 0;
    }
}



/* fine sistemare tabelle*/

#Vinyl {
    position: static;
    text-align: center;
    width: 100%; /* Set the initial width to 100% */
    height: auto; /* Set the initial height to 100% */
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: -1;
}


#stick {
    position: absolute;
    width: 100%; /* Set the initial width to 100% */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: 1;
    transform-origin: 0;
    transform: rotate(0deg);
    margin-left: -23vw;
}


.button1 {
    position: relative;
    z-index: 3;
}

#move {
    transition: 300ms;
    
}


.music-container {
    background-color: #F1FAEE;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgb(87, 31, 1);
    width: 50%;
    height: 25%;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75%;
    }

.stitle {
    font-size: 20px;
    font-family: 'sans';
    text-align: center;
    }

.navigation {
    background-color: #F1FAEE;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    }

.action-btn {
    background-color: #F1FAEE;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
    }

#decor1 {
    background-image: url('img/geronimo/logo.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 15vw;
    margin-left: 50%;
    margin-top: -14vw;
}


#decor2 {
    background-image: url('img/geronimo/tea.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 19vw;
    margin-left: 35%;
}

#decor3 {
    background-image: url('img/geronimo/family.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 22vw;
    margin-left: 25%;
}

#decor4 {
    background-image: url('img/geronimo/desk.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 60%;
    height: 25vw;
    margin-left: 25%;
}

p .place {
    font-family: 'BShadow';
    font-size: 25px;
    color: rgb(0, 42, 255);
}

p .place a{
    font-family: 'BShadow';
    font-size: 25px;
    color: rgb(0, 42, 255);
}

p .person {
    font-family: 'FrenchFries';
    font-size: 25px;
    color: rgb(252, 118, 0);
}

p .person a{
    font-family: 'FrenchFries';
    font-size: 25px;
    color: rgb(252, 118, 0);
}

p .keyword {
    font-family: 'Animated';
    font-size: 25px;
    color: rgb(0, 183, 37);
}

p #music{
    font-family: 'Music';
    font-size: 25px;
    color: rgb(113, 0, 183);
    text-transform: uppercase;
}

p #industry{
    font-family: 'Industry';
    font-size: 25px;
    color: rgb(235, 3, 73);
    text-transform: uppercase;
}

p #musicians{
    font-family: 'Musician';
    font-size: 25px;
    color: rgb(255, 170, 0);
}

p #learning{
    font-family: 'Learning';
    font-size: 25px;
    color: rgb(255, 0, 0);
}

p #song{
    font-family: 'Song';
    font-size: 25px;
    color: rgb(0, 105, 165);
}

p #GTZANdataset{
    font-family: 'Data';
    font-size: 25px;
    color: rgb(1, 64, 100);
}

p #genreClassification{
    font-family: 'Genre';
    font-size: 25px;
    color: rgb(236, 189, 0);
}

p #funeralMusic {
    font-family: 'Funeral';
    font-size: 25px;
    color: rgb(55, 55, 55);
}

p #popularMusic {
    font-family: 'Popular';
    font-size: 35px;
    color: rgb(255, 192, 3);
}

p #school {
    font-family: 'School';
    font-size: 35px;
    color: rgb(154, 3, 255);
}

p #musicEducation {
    font-family: 'Education';
    font-size: 35px;
    color: rgb(221, 21, 6);
}

figcaption {
    font-family: 'LifeLTStd-Roman';
    font-size: 14px;
}

.img-description {
    font-family: 'LifeLTStd-Roman';
    font-size: 14px;
    text-align: center;
}

caption {
    font-family: 'LifeLTStd-Roman';
    font-size: 14px;
}

/*Immagine Chiara */
.background-svg {
    display: none;
}

#header-2030 {
    display: none;
}

#footer {
    background-image: url('img/geronimo/cheese.jpg');
    background-size: cover;
}

#text-f {
   padding-left: 0%;
   padding-right: 0%;
}

#text-center-f {
    text-align: center;
    padding-top: 2%;
}



/* INDEX */

#asideLeft h2{
    font-family: 'sans';
    text-align: center;
    padding: 2%;
    color: rgb(0, 93, 50);
    text-transform:uppercase;
}

#asideLeft p{
    padding: 0%;
    line-height: 2.0;
    
}

#center h1{
    font-family: 'sans';
    text-align: center;
    padding: 2%;
    color: rgb(221, 21, 6);
    text-transform:uppercase;
}

#center p{
    padding: 0%;
    line-height: 2.0;
}

#asideRight h2{
    font-family: 'sans';
    text-align: center;
    padding: 2%;
    color: rgb(0, 93, 50);
    text-transform:uppercase;
}

#asideRight p{
    padding: 0%;
    line-height: 2.0;
}

#cards{
    margin-top: 5%;
    z-index: 99999;
    padding-left: 3%;
    padding-right: 3%;
}

#imgcard{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.card{
    background-image: url(img/geronimo/cheese.jpg);
    background-size: cover;
}

.card-title{
    font-family: 'Animated';
    font-size: 32px;
    text-align: center;
}

.card-body p{
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}


#start{
    font-family: 'Sub';
    font-size: 30px;
    margin-bottom: 3%;
}

/* ISSUE BASIC */



.row #main{
    background-image: none;
    padding: 0%;
    margin: 0%;
}

#issues-titles{
    font-family: 'Sub';
    text-align: center;
    padding: 0%;
    margin: 0%;
}

#issue1 {
    background-image: url('img/geronimo/eco.jpg');
    background-size: cover;
    width: 35%;
    height: 80%;
    border: 2px solid black; /* Aggiunge un bordo nero di 2px */
    box-sizing: border-box; /* Include il bordo nella larghezza e nell'altezza totali */
}

#container-titles {
    padding: 5%;
    margin-top: 25%;
}

#container-titles h4{
    font-family: 'cup';
    font-size: 2rem;
    padding: 0%;
}

#layout {
    font-family: 'onciale' !important;
    font-size: 12px !important;
    text-align: center !important;
    padding: 0.2% !important;
    margin-top: 5% !important;
    font-weight: bold !important;
}


#issue2 {
    background-image: url('img/geronimo/eco.jpg');
    background-size: cover;
    width: 35%;
    height: 80%;
    border: 2px solid black; /* Aggiunge un bordo nero di 2px */
    box-sizing: border-box; /* Include il bordo nella larghezza e nell'altezza totali */
}

#issue3 {
    background-image: url('img/geronimo/eco.jpg');
    background-size: cover;
    width: 35%;
    height: 80%;
    border: 2px solid black; /* Aggiunge un bordo nero di 2px */
    box-sizing: border-box; /* Include il bordo nella larghezza e nell'altezza totali */
}

.jsart {
    color: rgb(210, 35, 0)!important;
    font-family: 'Animated';
    font-size: 1em;
}

.jsart:hover {
    background-color: #f6dd00;
}


#carousel {
    position: relative;
    height: 500px;
    margin: auto 0; /* Center the carousel horizontally and add margin-top */
    overflow: hidden;
    padding: 2%;
    }
    
    #carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
    }
    
    #carousel div img {
    width: 30vw;
    max-width: 400px; /* Set a maximum width for the images */
    height: auto; /* Maintain aspect ratio */
    transition: width 1s;
    }
    
    #carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
    }
    
    #carousel div.hideLeft img {
        width: 20vw;
    }
    
    
    #carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
    }
    
    #carousel div.hideRight img {
        width: 20vw;
    }
    
    
    #carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
    }
    
    #carousel div.prev img {
        width: 25vw;
    }
    
    
    #carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
    }
    
    #carousel div.prevLeftSecond img {
        width: 20vw;
    }
    
    
    #carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
    }
    
    #carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
    }
    
    #carousel div.next img {
        width: 25vw;
    }
    
    
    #carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: 0.7;
    }
    
    #carousel div.nextRightSecond img {
        width: 20vw;
    }
    
    
    /* Add this to center the buttons */
    .buttonscar {
        font-family: 'Animated';
        position: relative;
        text-align: center; /* Adjust the margin as needed */
    }
    
    .buttonscar button {
        margin: 0 1%; /* Add spacing between buttons */
        cursor: url('img/geronimo/penoa.png'), auto !important;
      }


      @media (max-width: 767px) {
        #asideLeftSticky .tab-content {
            width: 100%;
        }

        #space{
            height: 30vh;
        }
    
    
        /* Assicurati di rimuovere eventuali margini o padding che possono influire sulla larghezza */
        #asideLeftSticky .nav-tabs,
        #asideLeftSticky .nav-item {
            margin: 0;
            padding: 0;
        }

        #carousel {
            padding: 0%;
        }

        #externalContentColumn{
            padding: 0%;
        }
    }
    
    @media (max-width: 991px) {
        .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
          display: block;
        }
      }


/* DOCUMENTATION PAGE */
.documentation {
    height: 80vh;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    overflow-y: auto;
    padding: 2%;
}

.documentation p {
    padding: 1%;
}

/* Carousel issues */

@media only screen and (max-width: 1000px) {
    #carousel div {
      width: 100%; /* Set width to 100% for responsiveness */
      left: 50%; /* Center the content */
      transform: translateX(-50%);
    }
  
    #carousel div img {
      width: 80%; /* Adjust the width of images for responsiveness */
      max-width: none; /* Remove the maximum width for responsiveness */
    }
  
    #carousel div.hideLeft,
    #carousel div.hideRight,
    #carousel div.prev,
    #carousel div.prevLeftSecond,
    #carousel div.selected,
    #carousel div.next,
    #carousel div.nextRightSecond {
      left: 50%;
      transform: translateY(0) translateX(-50%);
    }
    
    #carousel div.prev img,
    #carousel div.next img,
    #carousel div.prevLeftSecond img,
    #carousel div.nextRightSecond img {
      width: 60%; /* Adjust the width of images for responsiveness */
      max-width: none; /* Remove the maximum width for responsiveness */
    }
  
    #carousel {
      height: 80vh; /* Adjust height to fit content */
    }
    
    #carousel div.hideLeft,
    #carousel div.hideRight {
      opacity: 1; /* Show hidden elements */
    }
  }