@font-face {
    /* Font similar to the original ones. French Gothic. Look at the "g", close letters, spigoli, grossezza
    verticalità e ordine */
    font-family: 'Old_London';
    src: url('font/medieval/oldlondon/OldLondon.ttf');
}

@font-face {
    font-family: '1492';
    src: url('font/medieval/1492/1492_Quadrata_lim.otf');
}

@font-face {
    font-family: 'salterio';
    src: url('font/medieval/salterio/Salterio\ Shadow.ttf');
}

@font-face {
    font-family: 'genzsch';
    src: url('font/medieval/genzsch/GenzschInitials.ttf');
}

@font-face {
    font-family: 'latefifteen';
    src: url(font/medieval/erica_font/Late_medieval-Regular.ttf);
}

#image-gaia-2{
    display: none;
}

#gif {
    text-align: center;
    padding-top: 1em;
}

body {
    cursor: url('img/medieval/Manicula (1).png'), auto;
    background-image: url('img/medieval/parch.jpg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

#subtitle {
    color: rgb(40, 36, 36);
    background-image: url('img/medieval/back.png');
    text-align: center;
    padding: 0.5em;
    font-family: Old_London;
    border-radius: 15px;
}

.navbar {
    background-color: transparent;
    font-family: '1492';
    margin-top: -0.5cm;
}

.nav-link:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto;
}


.dropdown-menu {
    background-image: url('img/medieval/back.png');
}

.dropdown-menu:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto;
    background-image: url('img/medieval/back.png');
}

/* insertion */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none; /* Hide the submenu by default */
}

.dropdown-submenu:hover .dropdown-menu {
    cursor: url('img/medieval/Manicula (1).png'), auto;
    display: block; /* Display the submenu on hover */
}

/* insertion */

#main {
    background-image: url('img/medieval/back.png');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Prevent image from repeating */
    border-radius: 5px;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 40%;
    position: relative;
    z-index: 1;
}

/* personalizzazione bottoni metadatati*/
.nav-item {
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
    font-family: '1492' !important;
    color: rgb(125, 77, 0) !important;
}

.nav-link {
    cursor: url('img/medieval/Manicula (1).png'), auto;
    color: rgb(125, 77, 0) !important;
}

.nav-link:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
    color: rgb(0, 0, 143) !important;
  }

.tab-content {
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: justify;
    max-height: 33vw; /* Imposta l'altezza massima desiderata per la visualizzazione del contenuto dei tab */
    max-width: 22vw; /* Set the desired maximum width for the text */
}

.tab-pane li a{
    font-family: 'Old_london';
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
    color: rgb(0, 0, 143) !important;
}

#metadata {
    font-family: 'Old_london';
    font-size: 22px;
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
    color: rgb(0, 0, 143) !important;
}

.highlight {
    background-color: rgb(246, 246, 104); /* o qualsiasi altra formattazione visiva desiderata */
}
  
/* personalizzazione bottoni metadatati*/


#map-box { 
    width: 100%;
    height: 400px;
}

#map-box:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto !important;
}

#externalContentColumn {
    background-image: url('img/medieval/02.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vw;
    overflow-y: auto; /* or overflow-y: scroll; */
    padding: 5%;
}


p {
    font-family: '1492';
    font-size: 22px;
    text-align: justify;
    overflow: hidden; /* Hide any text that overflows */
    text-overflow: ellipsis; /* Display an ellipsis (...) for overflowed text */
    padding-left: 23%;
    padding-right: 23%;
    padding-top: 5%;
    display: table;
}

p .place {
    color: rgb(0, 0, 143);
}

p .person {
    color: rgb(87, 0, 0);
}

p .keyword {
    color: rgb(125, 77, 0);
}

.myFirstletter {
    font-family: 'latefifteen';
    font-size: 7em;
    color: rgb(87, 0, 0);
    margin-inline: 0%;
    line-height: 0.7;
    float: left; /* Float the first letter to the left */
    margin-right: 1px; /* Adjust this value based on your design */
}

/* Clear the float to prevent following elements from wrapping around */
p::after {
    content: "";
    display: table;
    clear: both;
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.title-1 {
    font-family: '1492';
    color: rgb(87, 0, 0);
    text-align: left;
    margin-left: 23%;
    margin-right: 23%;
    font-size: 3rem;
    text-transform: capitalize;
}

.title-2 {
    font-family: '1492';
    color: rgb(0, 0, 143);
    text-align: left;
    margin-left: 23%;
    margin-right: 23%;
    font-size: 2rem;
    text-transform: lowercase;
}

.title-3 {
    font-family: '1492';
    color: rgb(0, 93, 50);
    text-align: left;
    margin-left: 23%;
    margin-right: 23%;
    font-size: 2rem;
    text-transform: lowercase;
}

/* sistemare tabelle*/

.table-responsive {
    max-height: 40vw; /* Adjust the maximum height for the table container */
    overflow-y: auto; /* Add vertical scrollbar if the content exceeds the height */
    padding-left: 23vw;
    padding-right: 23vw;
}

.table {
    max-width: 100%; /* Set the maximum width for the table */
    width: 100%; /* Ensure the table takes up the full width of its container */
    padding-left: 23vw;
    padding-right: 23vw;
}

.table th,
.table td {
    background-color: rgba(211, 130, 240, 0) !important;
    font-family: '1492';
}

/* Apply similar styling as <p> */
.table td,
.table th {
    font-size: 14px;
    text-align: justify;
    white-space: nowrap; /* Prevent line breaks */
    padding-left: 23%;
    padding-right: 23%;
}

/* Styling for the scrollbars */
.table-responsive::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */ 
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #555; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

.table-responsive::-webkit-scrollbar-track-piece:end {
    margin-right: 50px; 
}
  
.table-responsive::-webkit-scrollbar-track-piece:start {
    margin-left: 50px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}


/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .table-responsive {
        max-height: none; /* Reset max-height on smaller screens */
    }

    .table {
        max-width: none; /* Reset max-width on smaller screens */
        padding-left: 0;
        padding-right: 0;
    }
}









/* fine sistemare tabelle*/

#space {
    height: 17rem; 
}

.image-container {
    position: relative;
    width: 50%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -3%;
}


#Vinyl {
    position: static;
    text-align: center;
    width: 100%; /* Set the initial width to 100% */
    height: auto; /* Set the initial height to 100% */
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: -1;
}


#stick {
    position: absolute;
    width: 100%; /* Set the initial width to 100% */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: 1;
    transform-origin: 0;
    transform: rotate(0deg);
    margin-left: -23vw;
}


.button1 {
    position: absolute;
    z-index: 3;
}

#move {
    transition: 300ms;
    
}


.music-container {
    background-image: url('img/medieval/back.png');
    border-radius: 15px;
    width: 50%;
    height: 25%;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75%;
    }

.stitle {
    padding-top: 2%;
    font-size: 20px;
    font-family: Salterio;
    text-align: center;
    }

.navigation {
    background-image: url('img/medieval/back.png');
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    }

.action-btn {
    background-image: url('img/medieval/back.png');
    border: 0;
    color: rgb(87, 0, 0);
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
    }

.action-btn:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto;
}

#decor1 {
    background-image: url('img/medieval/002.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 15vw;
    margin-left: 50%;
    margin-top: -12vw;
}

#decor2 {
    background-image: url('img/medieval/+3.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 19vw;
    margin-left: 35%;
   
}

#decor3 {
    background-image: url('img/medieval/12 2.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 19vw;
    margin-left: 35%;
}

.content img { 
    filter: sepia(80%);
    filter: contrast(80%), saturate(50%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

#decor4 {
    background-image: url('img/medieval/04.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 17vw;
    margin-left: 35%;
   
  }
  
#footer {
    background-image: url('img/medieval/back.png');
    background-position: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
}

#text-f {
    padding-left: 3%;
    padding-right: 3%;
}

#text-f a{
    color: rgb(125, 77, 0) !important;
}

#text-f a:hover {
    cursor: url('img/medieval/Manicula (1).png'), auto;
    color: rgb(0, 0, 143) !important;
  }

#bottone {
    font-family: '1492';
    font-size: 20px;
    width: 40%;
    height: 12%;
}


