@font-face {
  font-family: 'Tabasco';
  src: url('font/seventies/Tabasco\ Bold/Tabasco\ Bold.ttf');
}

@font-face {
  font-family: 'Stilla Regular';
  src: url('font/seventies/Stilla\ Script\ Regular/Stilla\ Script\ Regular.ttf');
}

@font-face {
  font-family: 'CG Times';
  src: url('font/seventies/cgtr45w.ttf');
}

@font-face {
  font-family: 'Jimi';
  src: url('font/seventies/Jimi\ Regular/Jimi\ Regular.ttf');
}

@font-face {
  font-family: 'Boogaloo Avenue NF';
  src: url('font/seventies/Boogaloo\ Avenue\ NF\ Regular/Boogaloo\ Avenue\ NF\ Regular.ttf');
}

@font-face {
  font-family: 'CC Tough Talk';
  src: url('font/seventies/CCToughTalk-Italic.ttf');
}

#image-gaia-2{
    /* background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100%" height="100%"><path class="line" d="M 100 100 C 10 100, 10 200, 100 200 L 190 200 C 280 200, 280 300, 190 300 L 100 300 C 10 300, 10 400, 100 400 L 190 400 C 280 400, 280 500, 190 500" fill="none" stroke="#67aba0" stroke-miterlimit="10" stroke-width="20" stroke-opacity="0.9" /><path class="line" d="M 100 120 C 10 120, 10 220, 100 220 L 190 220 C 280 220, 280 320, 190 320 L 100 320 C 10 320, 10 420, 100 420 L 190 420 C 280 420, 280 520, 190 520" fill="none" stroke="#deb433" stroke-miterlimit="10" stroke-width="20" stroke-opacity="0.9" /><path class="line" d="M 100 140 C 10 140, 10 240, 100 240 L 190 240 C 280 240, 280 340, 190 340 L 100 340 C 10 340, 10 440, 100 440 L 190 440 C 280 440, 280 540, 190 540" fill="none" stroke="#d8651c" stroke-miterlimit="10" stroke-width="20" stroke-opacity="0.9" /><path class="line" d="M 100 160 C 10 160, 10 260, 100 260 L 190 260 C 280 260, 280 360, 190 360 L 100 360 C 10 340, 10 460, 100 460 L 190 460 C 280 460, 280 560, 190 560" fill="none" stroke="#ab2e20" stroke-miterlimit="10" stroke-width="20" stroke-opacity="0.9" /><animate attributeName="r" from="40" to="0" dur="2s" begin="0s" repeatCount="indefinite" /></svg>');
    z-index: 10;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red"><animate attributeName="r" from="40" to="0" dur="2s" begin="0s" repeatCount="indefinite" /></circle></svg>') center center no-repeat;
    position:relative;
    background-size: 100%;
    height: 100px; */
    display: none;
}

#gif {
  text-align: center;
  padding-top: 1em;
}

body {
  background-image: -webkit-linear-gradient(#ede34d , #f2c43c );
}

#subtitle {
  font-family: 'Jimi';
  color: #ffffff;
  background-color: #f45683;
  text-align: center;
  padding: 0.5em;
  border-radius: 15px;
}

.navbar {
  border-radius: 5px;
  background-color: transparent;
  margin-top: -0.5%;
  font-family: 'Jimi';
  height: 5vh;
}

/* .nav-link:hover {
  cursor: url(''), auto;
} */

.dropdown-menu {
  background-color: #f1c40f;
}

/* .dropdown-menu:hover {
  cursor: url(''), auto;;
} */



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none; /* Hide the submenu by default */
}

.dropdown-submenu:hover .dropdown-menu {
  /* cursor: url(''), auto; */
  display: block; /* Display the submenu on hover */
}

/* insertion */

#main {
  font-family: 'Jimi';
  border-radius: 5px;
  background-color: #f45683;;
  margin-left: 0.5%;
  margin-right: 0.5%;
  height: 45%;
  position: relative;
  z-index: 1;
}

#map-box { 
  width: 100%;
  height: 400px;
}

#externalContentColumn {
  height: 40vw;
  overflow-y: auto; /* or overflow-y: scroll; */
  padding: 5%;
}



#footer {
  background-color: #f1c40f;
}

.title {
  font-family: 'Tabasco';
  font-size: 4em;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: .90;
  color: #34ace0;
  text-align: center;
}

.generic-info {
  font-family: 'CC Tough Talk';
  color: #000;
  text-align: center;
  font-size: 1em;
}

.title-2 {
  font-family: 'Stilla Regular';
  text-align: left;
  font-size: 2.5em;
  color:#34ace0;
  transform: rotate(-5deg);
  margin-bottom: 5%;
  margin-top: 10%;
}

.title-3 {
  font-family: 'Stilla Regular';
  text-align: left;
  font-size: 2.5em;
  color:#34ace0;
  line-height: normal;
  transform: rotate(-5deg);
  margin-bottom: 5%;
  margin-top: 10%;
}



.content {
  font-family: 'CG Times';
  font-size: 1em;
  text-align: justify;
  background-color: #eca0b5; 
  border-radius: 5px;
  margin: auto;
  column-count: 2;
  column-gap: 4vw;
  width: auto;
  height: auto;
  overflow: visible;
  position: relative;
  padding: 7%;
  clip-path: polygon(-17px -23px, 101.75% -101px, 101.64% 100.33%, 49.39% 100.26%, -18px 100.27%);
  box-shadow: 0 0 0 1em #34ace0; /* Utilizza box-shadow per simulare il bordo */
}

.highlight {
  background-color: yellow; /* o qualsiasi altra formattazione visiva desiderata */
}

.background-svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 30vw;
}

.line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: revealLine 10s linear infinite;
}

@keyframes revealLine {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}



#space {
  height: 17rem; 
}


#myTab {
  overflow-y: none;
}

  .tab-content {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    text-align: justify;
    max-height: 33vw; /* Imposta l'altezza massima desiderata per la visualizzazione del contenuto dei tab */
    max-width: 22vw; /* Set the desired maximum width for the text */
  }

  .tab-pane {
    max-height: 100%; /* Consente al contenuto dei tab di espandersi completamente all'interno del container */
  }

.image-container {
  position: relative;
  width: 50%; /* Adjust this value as needed */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: -3%;
}

#rotate {
  height: 80%;
  width: 80%;
}

#Vinyl {
  position: static;
  text-align: center;
  width: auto; /* Set the initial width to 100% */
  height: auto; /* Set the initial height to 100% */
  object-fit: cover; /* Maintain aspect ratio while covering container */
  z-index: -1;
}


#stick {
  position: absolute;
  width: 100%; /* Set the initial width to 100% */
  height: auto;
  object-fit: cover; /* Maintain aspect ratio while covering container */
  z-index: 1;
  transform-origin: 0;
  transform: rotate(0deg);
  margin-left: -23vw;
  z-index: -1;
}


.button1 {
  position: absolute;
  z-index: 3;
  background-color: #34ace0; /* A bright blue */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Rounded edges */
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#move {
  transition: 300ms;
  
}


.music-container {
  background-color: transparent;
  border-radius: 15px;
  width: 40%;
  height: 36%;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75%;
  background-image: url('img/seventies/musicbox.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stitle {
  font-size: 2em;
  font-family: 'Boogaloo Avenue NF';
  text-align: center;
  color: black;
  padding-top: 4%;
  margin-bottom: 0%;
  width: 80%; /* Esempio: la larghezza dell'elemento è l'80% della .music-container */
}

.navigation {
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding-top: 0%;
  width: 80%; /* Esempio: la larghezza dell'elemento è l'80% della .music-container */
  margin-top: 2%; /* Esempio: margine superiore del 2% rispetto alla .music-container */
}


.action-btn {
  border: 0;
  font-size: 30px;
  cursor: pointer;
  padding: 2px;
  background-color: #34ace0; /* A bright blue */
  color: #ffffff;
  border: none;
  border-radius: 20px; /* Rounded edges */
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
  }

.content img {
  width:100%;
  display: block;
  background: url(img/seventies/stella.png);
  background-size: 5%;
  background-repeat: round;
  overflow: hidden;
  position: relative;
  min-width: auto;
  min-height: auto;
  padding: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  transform: rotate(-5deg);
  }

figcaption {
  font-family: 'CC Tough Talk';
  font-size: 1em;
  transform: rotate(-5deg);
  margin-bottom: 3%;
}

table tr td, table tr th{
    background-color: rgba(211, 130, 240, 0) !important;
}

.table-responsive {
  width:100%;
  display: block;
  /* background: url(img/seventies/stella.png) top repeat-x, url(img/seventies/stella.png) bottom repeat-x, url(img/seventies/stella.png) left repeat-y, url(img/seventies/stella.png) right repeat-y;
  background-size: 5%; */
  overflow: hidden;
  /* resize: both; */
  position: relative;
  min-width: auto;
  min-height: auto;
  padding: 5%;
  margin-bottom: 5%;
  border-style: dotted;
  border-color: #34ace0;
  border-width: 0.5em;
  background-color: #ede34d;
  transform: rotate(-5deg);
  }

.table-responsive caption {
  font-family: 'CC Tough Talk';
}

.button1:hover, .action-btn:hover {
  transform: scale(1.1); /* Grow on hover */
}

@media (max-width: 768px) {
  .title, .stitle {
    font-size: 2em; /* Smaller font size for mobile */
  }

  .content {
    background-size: 75px; /* Smaller pattern on mobile */
  }
}

@media (max-width: 800px) {
  .content {
  column-count: 1;
  margin-left: 7%;
  margin-right: 7%;
  background: 
    url('img/seventies/stella.png') top repeat-x,
    url('img/seventies/stella.png') bottom repeat-x,
    url('img/seventies/stella.png') left repeat-y, 
    url('img/seventies/stella.png') right repeat-y;
  background-size: 3%;
  }
}