@font-face {
    font-family: 'Tracking_Bold';
    src: url('font/Tracking_Bold/Tracking_Bold.woff');
}

body {
    background-image: -webkit-linear-gradient(#1D3557 , #E63946 );
}

#gif {
    text-align: center;
    padding-top: 1em;
}


#subtitle {
    color: rgb(40, 36, 36);
    background-color: #F1FAEE;
    text-align: center;
    padding: 0.5em;
    font-family: Tracking_Bold;
    border-radius: 5px;
}

.navbar {
    border-radius: 5px;
    background-color: transparent;
    font-family: Tracking_Bold;
    margin-top: -0.5cm;
}

.dropdown-menu {
    background-color: #F1FAEE;
}

#space {
    height: 8cm; 
}

h1 {
    font-family: Tracking_Bold;
    text-align: center;
}

h2 {
    font-family: Tracking_Bold;
    text-align: center;
}

#start {
    font-family: Tracking_Bold;
    font-size: 20px;
}

#main .col-md-4 {
    padding: 2%; /* Puoi regolare il valore a seconda dello spazio desiderato */
}

.container-fluid p{
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

#main {
    background-color: #F1FAEE;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    z-index: 1;
}


.image-container {
    position: relative;
    width: 50%; /* Adjust this value as needed */
    margin: 0 auto; /* Center the container horizontally */
}


#Vinyl {
    position: static;
    top: 2;
    text-align: center;
    width: 100%; /* Set the initial width to 100% */
    height: auto; /* Set the initial height to 100% */
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: -1;
}

#stick {
    position: absolute;
    width: 100%; /* Set the initial width to 100% */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio while covering container */
    z-index: 1;
    transform-origin: 0;
    transform: rotate(0deg);
    margin-left: -23vw;
}


.button1 {
    position: absolute;
    z-index: 3;
}

#move {
    transition: 300ms;
    
}


.music-container {
    background-color: #F1FAEE;
    border-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(250, 136, 210, 0.612);
    width: 50%;
    height: 25%;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: -65%;
    }

.stitle {
    text-align: center;
    }

.navigation {
    background-color: #F1FAEE;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    }

.action-btn {
    background-color: #F1FAEE;
    border: 0;
    font-size: 30px;
    cursor: pointer;
    padding: 2px;
    }

.title-1 {
    text-align: center;
}

#cards{
    padding-left: 3%;
    padding-right: 3%;
}

#imgcard {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}

/* animazione card*/

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-width: calc(var(--card-height) / 1.5);
  }
  

.card {
    background: #F1FAEE;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }
  
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #1D3557, #3c67e3 43%, #E63946);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }

/* fine animazione card*/

#footer {
    background-color: #F1FAEE;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;

}




